body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
padding:40px;
}

.login-box{
background:#1e293b;
padding:30px;
width:300px;
margin:auto;
border-radius:10px;
}

input{
padding:10px;
margin:10px;
width:80%;
}

button{
padding:10px 20px;
background:#22c55e;
border:none;
color:white;
cursor:pointer;
}
